<% if @notice.errors.any? %>
    <ul>
        <% @notice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for notice do |f| %>
    <p>Title: <%= f.text_field :title %></p>
    <p>Content:: <%= f.text_area :content %></p>
    <%= f.submit %>
<% end %>
