<% if @notice.errors.any? %>
    <% @notice.errors.full_messages.each do |message| %>
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> <%= message %>
</div>
    <% end %>
<% end %>

<%= form_for notice do |f| %>
    <form>
      <fieldset>
        <div class="form-group">
          <label>Title</label>
          <%= f.text_field :title, class: "form-control", id: "inputDefault", placeholder: "Title" %>
        </div>
            <div class="form-group">
          <label>Content</label>
          <%= f.text_area :content, class: "form-control", id: "inputDefault", placeholder: "Content" %>
        </div>
        <%= f.submit class: "btn btn-primary" %>
      </fieldset>
    </form>
<% end %>

