<h1>Notices</h1>

<div>
  <%= form_tag new_notice_path, method: 'GET' do %>
    <%= submit_tag 'New Notice', class: "btn btn-primary btn-lg" %>
  <% end %>
</div>

<div class="form-group">
<%= form_tag notices_path, method: 'get'  do %>
  <%=text_field :query, class: "form-control form-control-lg", placeholder: "Search", id: "inputLarge" %>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<% end %>
</div>

<div class="container">
    <div class="row">
      <% @notices.each do |notice|%>
        <div class="card border-primary" style="max-width: 20rem">
          <div class="card-header"><%= link_to notice.user.username, notice.user %></div>
          <div class="card-body">
            <h4 class="card-title"><%= link_to notice.title, notice %></h4>
            <p class="card-text"><%= notice.content.truncate(200) %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
