<h1><%= @notice.title %></h1> <br/>
<p><%= link_to @notice.user.username, @notice.user %> </p>
<p><%= @notice.content %></p>

<% if @notice.user.id == session[:user_id] %>
  <%= link_to "Edit", edit_notice_path(@notice) %> |
  <%= link_to 'Delete', @notice,  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %><br>

<h4>Comments</h4>
  <% @notice.comments.each do |comment|%>
  <div class="card bg-light mb-3">
    <div class="card-header"><%= link_to comment.user.username, comment.user %></div>
    <div class="card-body">
      <p class="card-text"> <%= comment.content %></p>
      <% if comment.user.id == session[:user_id] %>
        <small><%= link_to "Edit", edit_notice_comment_path(@notice, comment) %> |
        <%= link_to 'Delete', comment,  method: :delete, data: { confirm: 'Are you sure?' } %></small>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%= render 'comments/form', comment: @comment %>