<% if flash[:error] %>
  <ul>
    <% flash[:error].each do |error|%>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @user do |f| %>
  Username: <%= f.text_field :username %>
  Password <%= f.password_field :password %>
  Neighborhood: <%= f.collection_select :neighborhood_id, Neighborhood.all, :id, :hood_name, {prompt: true} %>
  <%= f.submit "Submit" %>
<% end %>

