<h1><%= @user.username %> </h1>
<p>Tag Line: <%= @user.tag_line %></p>
<p>Neighborhood: <%= @user.neighborhood.hood_name %></p>
<p>Email Address: <%= @user.email %></p>


<h2>Notices</h2>
<% @user.notices.each do |notice| %>
  <%= link_to notice.title, notice %><br/>
<% end %>

<h2>Marketplace Posts</h2>
<% @user.transactions.each do |transaction| %>
  <%= link_to transaction.item_name, transaction %> <br/>
<% end %>

<h2>Comments</h2>
<ul>
  <% @user.comments.each do |comment| %>
    
  <% end %>
</ul>