<h1> <%= "Hello #{@user.username}, welcome to #{@user.neighborhood.hood_name}"%> </h1>

<div id="notices">
  <h2>Notices</h2>
  <p><%= link_to "View all notices", notices_path %></p>
  <ul>
    <% @notices.each do |notice| %>
      <li> <%= link_to notice.title, notice %> <br/> </li>
      <%= notice.content.truncate(300) %> <br/>
    <% end %>
  </ul>
</div>
<div id="transactions">
  <h2>Marketplace</h2>
  <p><%= link_to "View Marketplace", transactions_path%></p>
    <ul>
      <% @transactions.each do |transaction| %>
        <li><%= link_to transaction.item_name.titlecase, transaction %></li>
        <ul>
          <li><%= transaction.condition.upcase %></li>
          <li><%= number_to_currency(transaction.price) %></li>
          <li><%= transaction.item_description.capitalize.truncate(300) %></li>
        </ul>
      <% end %>
    </ul>
</div>
<div id="neighbors">
  <h2>Neighbors:</h2>
  <ul>
  <% @neighbors.each do |neighbor|%>
    <% if current_user != neighbor %>
      <li> <%= link_to neighbor.username, neighbor %> </li>
    <% end %>
  <% end %>
  </ul>
</div>