<div id="notices">
  <h1> <%= "Hello #{@user.username}, welcome to #{@user.neighborhood.hood_name}"%> </h1>
  <h2><%= link_to "Notices:", notices_path %></h2>
  <% @notices.each do |notice| %>
    <h3> <%= link_to notice.title, notice %> <br/> </h3>
    <%= notice.content.truncate(300) %> <br/>
  <% end %>
</div>
<div id="transactions">
  <h2><%= link_to "Marketplace:", transactions_path%></h2>
    <% @transactions.each do |transaction| %>
    <h3> <%= transaction.condition.upcase %>:
    <%= link_to transaction.item_name, transaction %>
    (<%=transaction.price %>) </h3>
    <%= transaction.item_description.truncate(300) %> <br/>
  <% end %>
</div>
<div id="neighbors">
  <h2>Neighbors:</h2>
  <ul>
  <% @neighbors.each do |neighbor|%>
  <li> <%= neighbor.username %> </li>
  <% end %>
  </ul>
</div>