<h1>Transactions</h1>

<%= form_tag transactions_path, method: 'get'  do %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<%= form_tag new_transaction_path, method: 'GET' do %>
  <%= submit_tag 'New Transaction' %>
<% end %><br>

<% @transactions.each do |transaction|%>
  <%= link_to transaction.item_name, transaction %> <br/>
  <%= transaction.item_description %> <br/>
  <%= link_to transaction.user.username, transaction.user %> <br/>
<% end %>