<h1>Marketplace</h1>
<div>
  <%= form_tag new_transaction_path, method: 'GET' do %>
    <%= submit_tag 'New Sale', class: "btn btn-primary btn-lg" %>
  <% end %>
</div>

<div class="form-group">
<%= form_tag transactions_path, method: 'get'  do %>
  <%=text_field :query, class: "form-control form-control-lg", placeholder: ".form-control-lg", id: "inputLarge" %>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<% end %>
</div>

<% @transactions.each do |transaction|%>
  <h4><%= link_to transaction.item_name, transaction %> </h4>
  <p><%= transaction.item_description %></p>
  <small>Posted by: <%= link_to transaction.user.username, transaction.user %></small>
<% end %>